{% extends "layouts/base.twig" %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-6">Welcome to Huckabuild</h1>
    <p class="text-lg mb-4">A modern PHP CMS with SQLite</p>
    <div class="prose">
        <p>This is the home page of your new Huckabuild installation. You can customize this content by editing the template file.</p>
    </div>
</div>
{% endblock %} 